@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @* <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a> *@
            <a href="/about.html" target="_blank">About the Project</a>
            <NavLink class="nav-link" href="login">
                <span  aria-hidden="true"></span> Login
            </NavLink>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
